body{
    text-align: center;
}
.contenitore{
    width: 80%;
    min-height: 100px ;
    border: 1px solid rgb(1, 90, 22);
    margin: auto;
    box-shadow: 10px 10px rgba(24, 214, 24, 0.327);
    padding: 2rem;
    margin-bottom: 2rem;

}
hr{
    box-shadow: 2px 2px yellowgreen;
}

.contenitore div{
    text-align: left;
}